// color
$color-black: #323232;
$color-white: #ffffff;
$color-gray: #aaaaaa;

$color-green: #004225;
$color-light-green: #E5EDEC;

// font-weight
$font-bold: 600;
$font-medium: 500;
$font-normal: 300;

// box-shadow
$box-shadow: 0px 3px 6px 0 rgba(85, 85, 85, 0.11);

// letter-spacing
$letter4: 0.04em;
$letter2: 0.02em;
