html,
body {
  font-family: 'Noto Sans JP', sans-serif;
}

// view point
$pc: 1024px; // PC
$tab: 1045px; // tablet
$sp: 767px; // SP
$mini-sp: 375px;

$breakpoint: (
    mini-sp: 'screen and (max-width: 375px)',
    sp: 'screen and (max-width: 767px)',
    tab: 'screen and (max-width: 1024px)',
    pc: 'screen and (min-width: 1025px)',
);

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

// color
$color-black: #5a5b6a;
$color-white: #ffffff;

$color-green: #004225;
$color-form-green: #e2f4f6;

$color-beige: #fefbf6;
$color-bg: #ebf3f4;
$color-red: #e54a46;
$color-form-red: #fff0f0;
$color-orange: #ff8421;
$color-blue: #3f85eb;

$color-table-grey: #dddcdc;
$color-text-grey: #8a8989;
$color-disable-grey: #dddcdc;
$color-header-grey: #c4c4c4;

// font-weight
$font-bold: 600;
$font-medium: 500;
$font-normal: 300;

// box-shadow
$box-shadow: 0px 3px 6px 0 rgba(85, 85, 85, 0.11);

// letter-spacing
$letter4: 0.04em;
$letter2: 0.02em;


ul li{
  list-style:none;
}

.sp-none{
  @include mq(sp) {
    display: none;
  }
}
  
