@charset "UTF-8";
ul li {
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .sp-none {
    display: none;
  }
}

body {
  line-height: 1;
}

header {
  background-color: white;
  font-size: 20px;
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1019607843);
}
header .wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 38px;
}
header .wrap .icon-area {
  margin-left: -20px;
  display: flex;
}
header .wrap .icon-area .logo {
  margin: 20px 0;
  height: 70px;
}
header .wrap .icon-area .title {
  width: 162px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .wrap .header-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}
header .wrap .header-menu .vertical-line {
  width: 1px;
  height: 38px;
  background-color: #004225;
}
header .wrap .header-menu .items {
  font-weight: 600;
  color: #004225;
  cursor: pointer;
}
header .wrap .header-menu .items:hover {
  color: #007542;
}
header .wrap .header-menu .normal-button {
  background-color: #004225;
  color: #ffffff;
  border-radius: 6px;
  padding: 16px 48px;
  letter-spacing: 0.02em;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
header .wrap .header-menu .normal-button:hover {
  background-color: #005c33;
}

.body .hero-section {
  background-image: url("img/image-2.png");
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 713px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.body .hero-section .hero-wrapper {
  margin-top: 55px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.body .hero-section .hero-wrapper:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 713px;
  -webkit-backdrop-filter: blur(3px) brightness(0.5);
          backdrop-filter: blur(3px) brightness(0.5);
}
.body .hero-section .hero-wrapper .logo {
  height: 300px;
}
.body .hero-section .hero-wrapper .hero-contents .company-name {
  margin-left: -40px;
  width: 475px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}
.body .hero-section .hero-wrapper .hero-contents .hero-text {
  margin-top: 30px;
  line-height: 2.5rem;
  color: #fff;
  font-size: 24px;
}
.body .service-section {
  position: relative;
  margin-top: 58px;
  width: 100%;
}
.body .service-section .title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 88px;
}
.body .service-section .title-wrapper .title {
  color: #004225;
  font-size: 36px;
  width: 400px;
  height: 42px;
  text-align: center;
  border-left: 4px solid #004225;
  border-right: 4px solid #004225;
}
.body .service-section .left-card, .body .service-section .right-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 270px;
  border: 4px solid #004225;
}
.body .service-section .left-card .sub-title, .body .service-section .right-card .sub-title {
  font-size: 24px;
  color: #004225;
}
.body .service-section .left-card .main-title, .body .service-section .right-card .main-title {
  font-size: 32px;
  color: #004225;
  margin-top: 8px;
}
.body .service-section .left-card .description, .body .service-section .right-card .description {
  font-size: 20px;
  font-weight: 300;
  width: 640px;
  overflow-wrap: break-word;
  word-break: keep-all;
  line-height: 2rem;
  margin-top: 8px;
}
.body .service-section .left-card {
  border-left: none;
  border-radius: 0 20px 20px 0;
}
.body .service-section .right-card {
  margin: 104px 0 104px auto;
  border-right: none;
  border-radius: 20px 0 0 20px;
}
.body .service-section .first-illustration {
  position: absolute;
  top: 240px;
  right: 240px;
}
.body .service-section .second-illustration {
  position: absolute;
  top: 630px;
  left: 240px;
}
.body .service-section .third-illustration {
  position: absolute;
  bottom: 0;
  right: 240px;
}
.body .plan-section {
  background: #E5EDEC;
  padding-top: 58px;
  padding-bottom: 24px;
  width: 100%;
}
.body .plan-section .title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 88px;
}
.body .plan-section .title-wrapper .title {
  color: #004225;
  font-size: 36px;
  width: 400px;
  height: 42px;
  text-align: center;
  border-left: 4px solid #004225;
  border-right: 4px solid #004225;
}
.body .plan-section .plan-card-wrapper {
  margin: auto;
  width: 1224px;
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  gap: 56px;
}
.body .plan-section .plan-card-wrapper .card {
  border: 4px solid #004225;
  border-radius: 30px;
  background: #fff;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgba(0, 66, 37, 0.6980392157);
}
.body .plan-section .plan-card-wrapper .card:nth-child(2) {
  background: #004225;
  color: #fff;
}
.body .plan-section .plan-card-wrapper .card .plan-name {
  font-size: 32px;
}
.body .plan-section .plan-card-wrapper .card .plan-price {
  font-size: 58px;
  font-weight: 600;
}
.body .plan-section .plan-card-wrapper .card .plan-price:after {
  content: "円";
  font-size: 24px;
  font-weight: 600;
  margin-left: 4px;
}
.body .plan-section .plan-card-wrapper .card .plan-description {
  font-size: 20px;
  font-weight: 600;
  width: 260px;
  overflow-wrap: break-word;
  word-break: keep-all;
  line-height: 2rem;
}
.body .plan-section .plan-description-card-wrapper {
  width: 1224px;
  margin: auto;
  margin-top: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body .plan-section .plan-description-card-wrapper .description-card {
  color: rgba(0, 66, 37, 0.6980392157);
  background: #fff;
  display: flex;
  padding: 0 72px;
  margin-bottom: 40px;
  justify-content: space-between;
  width: 100%;
  height: 280px;
  border: 2px solid #004225;
  border-radius: 30px;
}
.body .plan-section .plan-description-card-wrapper .description-card:nth-child(1) {
  color: #fff;
  background: #004225;
}
.body .plan-section .plan-description-card-wrapper .description-card .spaces {
  width: 50%;
}
.body .plan-section .plan-description-card-wrapper .description-card .contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.body .plan-section .plan-description-card-wrapper .description-card .contents .plan-name {
  font-size: 24px;
}
.body .plan-section .plan-description-card-wrapper .description-card .contents .plan-price {
  margin: 16px 0 8px;
  font-size: 40px;
  font-weight: 600;
}
.body .plan-section .plan-description-card-wrapper .description-card .contents .plan-price::after {
  content: "円";
  font-size: 16px;
  font-weight: 600;
  margin-left: 4px;
}
.body .plan-section .plan-description-card-wrapper .description-card .contents .plan-description {
  font-size: 16px;
  font-weight: 600;
  overflow-wrap: break-word;
  word-break: keep-all;
  line-height: 2rem;
}
.body .plan-section .estimate-button {
  width: 240px;
  height: 56px;
  background: #fff;
  border: 2px solid #004225;
  color: #004225;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  display: block;
  text-align: center;
  line-height: 55px;
  margin: auto;
}
.body .plan-section .estimate-button .allow {
  margin-left: 8px;
}
.body .common-section {
  padding: 96px 0;
  width: 100%;
}
.body .common-section .title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 88px;
}
.body .common-section .title-wrapper .title {
  color: #004225;
  font-size: 36px;
  width: 400px;
  height: 42px;
  text-align: center;
  border-left: 4px solid #004225;
  border-right: 4px solid #004225;
}
.body .common-section .contents-wrapper {
  display: flex;
  justify-content: center;
  gap: 110px;
}
.body .common-section .contents-wrapper .content {
  width: 460px;
}
.body .common-section .contents-wrapper .content img {
  width: 100%;
  height: 288px;
  border: 4px solid #004225;
  border-radius: 30px;
}
.body .common-section .contents-wrapper .content .text {
  margin-top: 40px;
  font-size: 24px;
  color: #004225;
  font-weight: 600;
  line-height: 2rem;
}
.body .faq-section {
  background: #E5EDEC;
  padding-top: 58px;
  width: 100%;
}
.body .faq-section .title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.body .faq-section .title-wrapper .title {
  color: #004225;
  font-size: 36px;
  width: 400px;
  height: 42px;
  text-align: center;
  border-left: 4px solid #004225;
  border-right: 4px solid #004225;
}
.body .faq-section .faq-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .faq-section .faq-content-wrapper .faq-content {
  margin-bottom: 88px;
}
.body .faq-section .faq-content-wrapper .faq-content .question {
  font-size: 24px;
  font-weight: 600;
  color: #004225;
  margin-bottom: 40px;
}
.body .faq-section .faq-content-wrapper .faq-content .question::before {
  content: "Q";
  font-size: 36px;
  font-weight: 600;
  margin-right: 24px;
  color: rgba(0, 66, 37, 0.6980392157);
}
.body .faq-section .faq-content-wrapper .faq-content .answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .faq-section .faq-content-wrapper .faq-content .answer .main-text {
  font-size: 24px;
  font-weight: 600;
  color: #004225;
  margin-bottom: 20px;
}
.body .faq-section .faq-content-wrapper .faq-content .answer .main-text::before {
  content: "A";
  font-size: 36px;
  font-weight: 600;
  margin-right: 24px;
  color: rgba(0, 66, 37, 0.6980392157);
}
.body .faq-section .faq-content-wrapper .faq-content .answer .sub-text {
  font-size: 20px;
  font-weight: 400;
  width: 920px;
  overflow-wrap: break-word;
  word-break: keep-all;
  color: #004225;
  line-height: 2rem;
}
.body .example-section {
  padding: 50px 0;
  color: #004225;
}
.body .example-section .title-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.body .example-section .title-wrapper .title {
  color: #004225;
  font-size: 36px;
  width: 400px;
  height: 42px;
  text-align: center;
  border-left: 4px solid #004225;
  border-right: 4px solid #004225;
}
.body .example-section .example-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .example-section .example-item-wrapper .example-item {
  width: 960px;
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.body .example-section .example-item-wrapper .example-item .img-wrap {
  width: 48%;
  height: 48%;
}
.body .example-section .example-item-wrapper .example-item .img-wrap img {
  width: 100%;
  height: 100%;
  border: 3px solid #004225;
  border-radius: 20px;
}
.body .example-section .example-item-wrapper .example-item .contents {
  width: 48%;
  height: 48%;
}
.body .example-section .example-item-wrapper .example-item .contents .company-name {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}
.body .example-section .example-item-wrapper .example-item .contents .description {
  font-size: 20px;
  font-weight: 400;
  word-break: break-all;
  line-height: 2rem;
}
.body .example-section .estimate-button {
  width: 240px;
  height: 56px;
  background: #fff;
  border: 2px solid #004225;
  color: #004225;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  display: block;
  text-align: center;
  line-height: 55px;
}
.body .example-section .estimate-button .allow {
  margin-left: 8px;
}
.body .flow-section {
  background-image: url("img/image-2.png");
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.body .flow-section .flow-wrapper {
  width: 75%;
  max-width: 1200px;
  align-items: center;
  background-color: #ffffff;
  margin: 0 auto;
}
.body .flow-section .flow-wrapper:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  -webkit-backdrop-filter: blur(3px) brightness(0.5);
          backdrop-filter: blur(3px) brightness(0.5);
}
.body .flow-section .flow-wrapper .flow-contents {
  color: #004225;
}
.body .flow-section .flow-wrapper .flow-contents .flow-header {
  background-color: #E5EDEC;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding: 30px 20px;
}
.body .flow-section .flow-wrapper .flow-contents .flow-item {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 50px 10px;
}
.body .flow-section .flow-wrapper .flow-contents .flow-item.last-item {
  padding: 50px 0 100px 0;
}
.body .flow-section .flow-wrapper .flow-contents .flow-item .flow-num {
  font-size: 32px;
  width: 30px;
}
.body .flow-section .flow-wrapper .flow-contents .flow-item .flow-title {
  font-size: 32px;
  width: 200px;
}
.body .flow-section .flow-wrapper .flow-contents .flow-item .flow-body {
  font-size: 20px;
  width: 600px;
  word-break: break-all;
}
.body .form-guide {
  background-color: #004225;
  color: #ffffff;
  text-align: center;
  padding: 30px 0;
  font-size: 32px;
}
.body .form-section {
  padding: 50px 20px;
  font-size: 20px;
  background-color: #E5EDEC;
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 20px;
}
.body .form-section .form-wapper {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.body .form-section .form-wapper.pp-area {
  justify-content: center;
  gap: 10px;
}
.body .form-section .form-wapper .title-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body .form-section .form-wapper .title-wrapper .required {
  color: #ffffff;
  background-color: #004225;
  text-align: center;
  padding: 10px;
  border: 2px solid #004225;
  border-radius: 10px;
}
.body .form-section .form-wapper .title-wrapper .optional {
  color: #004225;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 10px;
}
.body .form-section .form-wapper .title-wrapper input[type=text] {
  width: 200px;
  height: 20px;
  padding: 3px;
  background-color: #ffffff;
  border: 1px solid #000;
}
.body .form-section .form-wapper .title-wrapper .form {
  width: 200px;
  height: 20px;
  padding: 3px;
  background-color: #ffffff;
  border: 1px solid #000;
}
.body .form-section input [type=checkbox] {
  width: 30px;
  height: 30px;
}
.body .form-section .normal-button {
  background-color: #004225;
  color: #ffffff;
  border-radius: 6px;
  padding: 16px 48px;
  letter-spacing: 0.02em;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.body .form-section .normal-button:hover {
  background-color: #005c33;
}

footer {
  background-color: #004225;
  color: #ffffff;
  width: 100%;
  padding: 20px;
}
footer .wrap {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
footer .wrap .footer-item {
  width: 550px;
}
footer .wrap .footer-item.page-guide {
  display: flex;
  justify-content: end;
  gap: 80px;
}
footer .wrap .footer-item.logo-area {
  width: auto;
}
footer .wrap .footer-item .page-guide-item {
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}
footer .wrap .footer-item .page-guide-item:hover {
  color: white;
}
footer .wrap .footer-item .page-guide-item {
  font-size: 14px;
  padding: 10px 0;
}
footer .wrap .footer-item .logo {
  width: 150px;
  height: 150px;
}
footer .wrap .footer-item .company-info-item {
  font-size: 14px;
  padding: 8px 0;
}
footer .wrap .footer-item .company-info-item.company-name {
  font-weight: 600;
}
footer .footer-text {
  padding: 10px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}/*# sourceMappingURL=style.css.map */