html,
body {
  font-family: "Noto Sans JP", sans-serif;
}

ul li {
  list-style: none;
}

@media screen and (max-width: 767px) {
  .sp-none {
    display: none;
  }
}

body {
  line-height: 1;
}

header {
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1019607843);
}
header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header .wrap .icon-area {
  display: flex;
}
header .wrap .header-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}
header .wrap .header-menu .items {
  cursor: pointer;
}
header .wrap .header-menu .items:hover {
  color: #007542;
}

.normal-button {
  background-color: #004225;
  color: #ffffff;
  border-radius: 6px;
  padding: 15px 40px;
  letter-spacing: 0.02em;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.normal-button:hover {
  background-color: #005c33;
}

.screen .text-wrapper-56 {
  width: 162px;
  top: 38px;
  left: 109px;
  font-family: "Helvetica-Bold", Helvetica;
  font-weight: 700;
  color: #004225;
  font-size: 28px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .group-23 {
  width: 244px;
  height: 58px;
  top: 26px;
  left: 1160px;
}

.screen .overlap-15 {
  width: 242px;
  height: 58px;
  background-color: #004225;
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2509803922);
}

.screen .text-wrapper-57 {
  height: 30px;
  top: 14px;
  left: 61px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .line {
  left: 754px;
  position: fixed;
  width: 1px;
  height: 38px;
  top: 36px;
  -o-object-fit: cover;
     object-fit: cover;
}

.screen .line-2 {
  left: 946px;
  position: fixed;
  width: 1px;
  height: 38px;
  top: 36px;
  -o-object-fit: cover;
     object-fit: cover;
}

.screen .text-wrapper-58 {
  position: fixed;
  top: 39px;
  left: 790px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-59 {
  position: fixed;
  top: 39px;
  left: 982px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-60 {
  position: fixed;
  top: 39px;
  left: 622px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen {
  background-color: #E5EDEC;
  display: flex;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 8828px;
}

.screen .overlap {
  width: 1440px;
  height: 1725px;
  top: 6852px;
  left: 0;
}

.screen .image {
  width: 1440px;
  height: 849px;
  top: 10px;
  left: 0;
}

.screen .rectangle {
  width: 1440px;
  height: 849px;
  top: 10px;
  left: 0;
  background-color: rgba(0, 66, 37, 0.6980392157);
}

.screen .rectangle-2 {
  width: 1031px;
  height: 859px;
  top: 0;
  left: 205px;
  background-color: #ffffff;
}

.screen .view {
  width: 1194px;
  height: 199px;
  top: 10px;
  left: 125px;
}

.screen .overlap-group {
  width: 1032px;
  height: 199px;
  left: 80px;
}

.screen .rectangle-3 {
  width: 1031px;
  height: 67px;
  top: 0;
  left: 0;
  background-color: #e5edec;
}

.screen .polygon {
  width: 1032px;
  height: 132px;
  top: 67px;
  left: 0;
}

.screen .text-wrapper {
  width: 422px;
  height: 72px;
  top: 25px;
  left: 297px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  color: #004225;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .group {
  width: 1440px;
  height: 981px;
  top: 744px;
  left: 0;
}

.screen .overlap-2 {
  width: 1440px;
  height: 879px;
  top: 102px;
  left: 0;
  background-color: #e5edec;
}

.screen .overlap-group-wrapper {
  width: 228px;
  height: 52px;
  top: 745px;
  left: 608px;
}

.screen .div-wrapper {
  width: 226px;
  height: 52px;
  background-color: #004225;
  border-radius: 10px;
}

.screen .text-wrapper-2 {
  width: 137px;
  height: 27px;
  top: 12px;
  left: 44px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  line-height: normal;
}

.screen .frame {
  display: flex;
  flex-direction: column;
  width: 1043px;
  align-items: flex-start;
  gap: 30px;
  top: 71px;
  left: 198px;
}

.screen .group-2 {
  width: 1047px;
  height: 64px;
  margin-right: -4px;
}

.screen .overlap-3 {
  width: 677px;
  height: 64px;
  top: 0;
  left: 366px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #a9a9a9;
}

.screen .text-wrapper-3 {
  height: 30px;
  top: 16px;
  left: 28px;
  font-family: "Hiragino Kaku Gothic Pro-W3", Helvetica;
  color: #a9a9a9;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-4 {
  top: 14px;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W3", Helvetica;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .group-3 {
  width: 77px;
  height: 35px;
  top: 15px;
  left: 268px;
}

.screen .overlap-group-2 {
  width: 75px;
  height: 35px;
  background-color: #004225;
  border-radius: 10px;
}

.screen .text-wrapper-5 {
  top: 2px;
  left: 17px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .overlap-group-3 {
  width: 75px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #004225;
}

.screen .text-wrapper-6 {
  top: 1px;
  left: 16px;
  font-family: "Hiragino Kaku Gothic Pro-W3", Helvetica;
  color: #004225;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .group-4 {
  width: 77px;
  height: 35px;
  top: 14px;
  left: 268px;
}

.screen .img {
  width: 16px;
  height: 11px;
  top: 25px;
  left: 626px;
}

.screen .group-5 {
  width: 1047px;
  height: 222px;
  margin-right: -4px;
}

.screen .overlap-4 {
  width: 677px;
  height: 222px;
  top: 0;
  left: 366px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #a9a9a9;
}

.screen .text-wrapper-7 {
  height: 30px;
  top: 13px;
  left: 28px;
  font-family: "Hiragino Kaku Gothic Pro-W3", Helvetica;
  color: #a9a9a9;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-8 {
  top: 11px;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W3", Helvetica;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .group-6 {
  width: 77px;
  height: 35px;
  top: 11px;
  left: 268px;
}

.screen .view-wrapper {
  width: 1440px;
  height: 102px;
  top: 0;
  left: 0;
  background-color: #004225;
}

.screen .view-2 {
  width: 518px;
  height: 54px;
  top: 24px;
  left: 462px;
}

.screen .overlap-group-4 {
  width: 516px;
  height: 54px;
}

.screen .text-wrapper-9 {
  width: 422px;
  height: 54px;
  top: 0;
  left: 47px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .rectangle-4 {
  width: 516px;
  height: 42px;
  top: 6px;
  left: 0;
  border-right-width: 4px;
  border-right-style: solid;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #ffffff;
}

.screen .group-7 {
  width: 350px;
  height: 24px;
  top: 1547px;
  left: 546px;
}

.screen .p {
  height: 24px;
  top: 0;
  left: 50px;
  font-family: "Hiragino Kaku Gothic Pro-Regular", Helvetica;
  color: transparent;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .span {
  color: #313131;
}

.screen .text-wrapper-10 {
  color: #004225;
}

.screen .rectangle-5 {
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #004225;
}

.screen .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 73px;
  top: 260px;
  left: 268px;
}

.screen .group-8 {
  width: 906px;
  height: 75px;
  margin-right: -6px;
}

.screen .text-wrapper-11 {
  height: 62px;
  top: 7px;
  left: 85px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 41px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-12 {
  width: 558px;
  height: 58px;
  top: 9px;
  left: 342px;
  color: #004225;
  font-size: 19px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-13 {
  width: 74px;
  height: 75px;
  top: 0;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  color: #004225;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .overlap-wrapper {
  width: 1442px;
  height: 251px;
  top: 8577px;
  left: 0;
}

.screen .overlap-5 {
  width: 1440px;
  height: 251px;
  background-color: #004225;
}

.screen .text-wrapper-14 {
  top: 210px;
  left: 622px;
  font-family: "Hiragino Kaku Gothic Pro-W3", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 72px;
  top: 39px;
  left: 287px;
}

.screen .group-9 {
  width: 330px;
  height: 114px;
}

.screen .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  top: 0;
  left: 0;
}

.screen .text-wrapper-15 {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.52px;
  line-height: normal;
}

.screen .text-wrapper-16 {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.52px;
  font-weight: 400;
  line-height: normal;
}

.screen .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  top: 0;
  left: 211px;
}

.screen .frame-6 {
  width: 52px;
  height: 135px;
}

.screen .group-10 {
  width: 398px;
  height: 104px;
}

.screen .overlap-group-5 {
  width: 400px;
  height: 104px;
}

.screen .flexcontainer-wrapper {
  width: 335px;
  height: 104px;
  top: 0;
  left: 65px;
}

.screen .flexcontainer {
  width: 333px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  height: 104px;
}

.screen .text {
  align-self: stretch;
  font-family: "Hiragino Kaku Gothic Pro-Regular", Helvetica;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.52px;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-17 {
  font-family: "Hiragino Kaku Gothic Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.52px;
}

.screen .group-11 {
  width: 143px;
  height: 104px;
  top: 0;
  left: 0;
}

.screen .flexcontainer-2 {
  width: 141px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  height: 104px;
}

.screen .overlap-6 {
  width: 1440px;
  height: 1661px;
  top: 2021px;
  left: 0;
  background-color: #e5edec;
}

.screen .view-3 {
  width: 402px;
  height: 42px;
  top: 40px;
  left: 520px;
}

.screen .overlap-7 {
  width: 400px;
  height: 42px;
}

.screen .text-wrapper-18 {
  width: 289px;
  height: 31px;
  top: 6px;
  left: 55px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
  font-weight: 400;
  line-height: normal;
}

.screen .rectangle-6 {
  width: 400px;
  height: 42px;
  top: 0;
  left: 0;
  border-right-width: 4px;
  border-right-style: solid;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #004225;
}

.screen .element {
  width: 367px;
  height: 349px;
  top: 160px;
  left: 126px;
}

.screen .overlap-8 {
  width: 361px;
  height: 349px;
  border-radius: 30px;
}

.screen .rectangle-7 {
  width: 361px;
  height: 349px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 30px;
  border: 4px solid;
  border-color: #004225;
  transform: rotate(-180deg);
}

.screen .text-wrapper-19 {
  width: 241px;
  height: 21px;
  top: 38px;
  left: 60px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-size: 31px;
  white-space: nowrap;
  font-weight: 400;
  color: rgba(0, 79, 69, 0.6980392157);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-20 {
  width: 354px;
  height: 62px;
  top: 260px;
  left: 4px;
  color: rgba(0, 79, 69, 0.6980392157);
  font-size: 19px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .element-2 {
  width: 307px;
  height: 93px;
  top: 110px;
  left: 28px;
  font-family: "Hiragino Kaku Gothic Pro-Regular", Helvetica;
  font-size: 58px;
  font-weight: 400;
  color: rgba(0, 79, 69, 0.6980392157);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-21 {
  font-family: "Hiragino Kaku Gothic Pro-Regular", Helvetica;
  font-weight: 400;
  color: rgba(0, 79, 69, 0.6980392157);
  font-size: 58px;
  letter-spacing: 0;
}

.screen .text-wrapper-22 {
  font-size: 24px;
}

.screen .element-3 {
  width: 367px;
  height: 349px;
  top: 160px;
  left: 989px;
}

.screen .view-4 {
  width: 392px;
  height: 349px;
  top: 160px;
  left: 545px;
}

.screen .overlap-9 {
  width: 386px;
  height: 349px;
  border-radius: 30px;
}

.screen .view-5 {
  width: 386px;
  height: 349px;
  top: 0;
  left: 0;
  background-color: #004225;
  border-radius: 30px;
  border: 4px solid;
  transform: rotate(-180deg);
}

.screen .text-wrapper-23 {
  width: 241px;
  height: 20px;
  top: 47px;
  left: 73px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-24 {
  width: 354px;
  height: 72px;
  top: 248px;
  left: 17px;
  color: #e6e6e6;
  font-size: 24px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .element-4 {
  width: 307px;
  height: 127px;
  top: 110px;
  left: 40px;
  font-family: "Hiragino Kaku Gothic Pro-Regular", Helvetica;
  color: #ffffff;
  font-size: 63px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-25 {
  font-family: "Hiragino Kaku Gothic Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 63px;
  letter-spacing: 0;
}

.screen .text-wrapper-26 {
  font-size: 29px;
}

.screen .element-5 {
  width: 1224px;
  height: 282px;
  top: 618px;
  left: 126px;
}

.screen .overlap-10 {
  height: 282px;
  border-radius: 20px;
}

.screen .rectangle-8 {
  width: 1224px;
  height: 282px;
  background-color: #004225;
  border-radius: 20px;
  border: 2px solid;
  top: 0;
  left: 0;
  transform: rotate(-180deg);
}

.screen .group-12 {
  width: 490px;
  height: 210px;
  top: 44px;
  left: 669px;
}

.screen .text-wrapper-27 {
  width: 302px;
  height: 18px;
  top: 0;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  white-space: nowrap;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-28 {
  width: 484px;
  height: 120px;
  top: 90px;
  left: 0;
  color: #ffffff;
  font-size: 19px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .element-6 {
  width: 395px;
  height: 61px;
  top: 28px;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-Regular", Helvetica;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-29 {
  font-family: "Hiragino Kaku Gothic Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
}

.screen .text-wrapper-30 {
  font-size: 23px;
}

.screen .element-7 {
  width: 1224px;
  height: 282px;
  top: 937px;
  left: 125px;
}

.screen .rectangle-9 {
  width: 1224px;
  height: 282px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid;
  border-color: #004225;
  transform: rotate(-180deg);
}

.screen .group-13 {
  width: 490px;
  height: 210px;
  top: 45px;
  left: 145px;
}

.screen .text-wrapper-31 {
  width: 302px;
  height: 18px;
  top: 0;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: rgba(0, 79, 69, 0.6980392157);
  font-size: 25px;
  letter-spacing: 0;
  white-space: nowrap;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-32 {
  width: 484px;
  height: 120px;
  top: 90px;
  left: 0;
  color: rgba(0, 79, 69, 0.6980392157);
  font-size: 19px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .element-8 {
  width: 336px;
  height: 62px;
  top: 28px;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-Regular", Helvetica;
  color: rgba(0, 79, 69, 0.6980392157);
  font-size: 40px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-33 {
  font-family: "Hiragino Kaku Gothic Pro-Regular", Helvetica;
  font-weight: 400;
  color: rgba(0, 79, 69, 0.6980392157);
  font-size: 40px;
  letter-spacing: 0;
}

.screen .element-9 {
  width: 1224px;
  height: 282px;
  top: 1247px;
  left: 125px;
}

.screen .view-6 {
  width: 244px;
  height: 58px;
  top: 1578px;
  left: 599px;
}

.screen .overlap-11 {
  width: 242px;
  height: 58px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid;
  border-color: #004225;
}

.screen .vector {
  width: 12px;
  height: 16px;
  top: 19px;
  left: 184px;
}

.screen .text-wrapper-34 {
  width: 120px;
  height: 30px;
  top: 12px;
  left: 39px;
  color: #004225;
  font-size: 20px;
  letter-spacing: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  line-height: normal;
}

.screen .overlap-12 {
  width: 1440px;
  height: 1052px;
  top: 4639px;
  left: 0;
  background-color: #e5edec;
}

.screen .view-7 {
  width: 402px;
  height: 42px;
  top: 80px;
  left: 520px;
}

.screen .group-14 {
  width: 1136px;
  height: 317px;
  top: 181px;
  left: 197px;
}

.screen .text-wrapper-35 {
  width: 1050px;
  top: 156px;
  left: 51px;
  color: #004225;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-36 {
  width: 1075px;
  top: 102px;
  left: 51px;
  color: #004225;
  font-size: 24px;
  letter-spacing: 2.4px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-37 {
  width: 1075px;
  top: 10px;
  left: 51px;
  color: #004225;
  font-size: 24px;
  letter-spacing: 2.4px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-38 {
  top: 0;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  color: rgba(0, 66, 37, 0.5019607843);
  font-size: 36px;
  letter-spacing: 3.6px;
  line-height: normal;
}

.screen .text-wrapper-39 {
  top: 92px;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  color: rgba(0, 66, 37, 0.5019607843);
  font-size: 36px;
  letter-spacing: 3.6px;
  line-height: normal;
}

.screen .group-15 {
  width: 1136px;
  height: 317px;
  top: 577px;
  left: 197px;
}

.screen .view-8 {
  width: 402px;
  height: 42px;
  top: 3777px;
  left: 520px;
}

.screen .view-9 {
  width: 402px;
  height: 42px;
  top: 5826px;
  left: 520px;
}

.screen .view-10 {
  width: 402px;
  height: 42px;
  top: 766px;
  left: 520px;
}

.screen .text-wrapper-40 {
  width: 219px;
  height: 31px;
  top: 6px;
  left: 90px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
  font-weight: 400;
  line-height: normal;
}

.screen .group-16 {
  width: 1020px;
  height: 270px;
  top: 1270px;
  left: 583px;
}

.screen .overlap-13 {
  height: 270px;
  border-radius: 0px 20px 20px 0px;
}

.screen .rectangle-10 {
  width: 1020px;
  height: 270px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 0px 20px 20px 0px;
  border: 4px solid;
  border-color: #004225;
  transform: rotate(-180deg);
}

.screen .group-17 {
  width: 473px;
  height: 198px;
  top: 28px;
  left: 155px;
}

.screen .overlap-group-6 {
  width: 276px;
  height: 107px;
  top: 0;
  left: 0;
}

.screen .text-wrapper-41 {
  height: 45px;
  top: 0;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  color: #004225;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-42 {
  height: 63px;
  top: 44px;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  font-weight: 400;
  color: #004225;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-43 {
  width: 467px;
  height: 90px;
  top: 108px;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W3", Helvetica;
  color: #333333;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .team-spirit {
  width: 392px;
  height: 265px;
  top: 1378px;
  left: 165px;
}

.screen .group-wrapper {
  width: 955px;
  height: 270px;
  top: 897px;
  left: -98px;
  background-color: #ffffff;
  border: 4px solid;
  border-color: #004225;
}

.screen .group-18 {
  width: 474px;
  height: 189px;
  top: 35px;
  left: 337px;
}

.screen .overlap-group-7 {
  width: 271px;
  height: 94px;
  top: 0;
  left: 0;
}

.screen .text-wrapper-44 {
  width: 270px;
  height: 45px;
  top: 0;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-45 {
  height: 51px;
  top: 43px;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 34px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-46 {
  width: 467px;
  height: 90px;
  top: 99px;
  left: 1px;
  font-family: "Hiragino Kaku Gothic Pro-W3", Helvetica;
  color: #313131;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .undraw-connecting {
  width: 304px;
  height: 264px;
  top: 1006px;
  left: 901px;
}

.screen .group-19 {
  width: 955px;
  height: 270px;
  top: 1643px;
  left: -98px;
  background-color: #ffffff;
  border: 4px solid;
  border-color: #004225;
}

.screen .group-20 {
  width: 474px;
  height: 218px;
  top: 21px;
  left: 337px;
}

.screen .text-wrapper-47 {
  width: 270px;
  height: 41px;
  top: 0;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 27px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-48 {
  height: 51px;
  top: 41px;
  left: 0;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 34px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-49 {
  width: 467px;
  height: 120px;
  top: 98px;
  left: 1px;
  font-family: "Hiragino Kaku Gothic Pro-W3", Helvetica;
  font-weight: 400;
  color: #313131;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .undraw-connecting-2 {
  width: 304px;
  height: 264px;
  top: 1743px;
  left: 901px;
}

.screen .overlap-14 {
  width: 1440px;
  height: 717px;
  top: 0;
  left: 0;
  background-image: url(./img/image-1.png);
  background-size: 100% 100%;
}

.screen .rectangle-11 {
  width: 1440px;
  height: 713px;
  top: 0;
  left: 0;
  background-color: rgba(3, 20, 18, 0.4);
}

.screen .element-10 {
  width: 556px;
  height: 144px;
  top: 396px;
  left: 635px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 2.4px;
  font-weight: 400;
  line-height: normal;
}

.screen .frame-7 {
  width: 104px;
  height: 267px;
  top: 298px;
  left: 401px;
}

.screen .text-wrapper-50 {
  width: 475px;
  top: 285px;
  left: 622px;
  font-family: "Helvetica-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 80px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-51 {
  width: 461px;
  top: 4239px;
  left: 221px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 24px;
  letter-spacing: 2.4px;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-52 {
  width: 461px;
  top: 4239px;
  left: 792px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 24px;
  letter-spacing: 2.4px;
  font-weight: 400;
  line-height: normal;
}

.screen .group-21 {
  width: 1201px;
  height: 285px;
  top: 5957px;
  left: 126px;
}

.screen .element-11 {
  width: 463px;
  height: 285px;
  top: 0;
  left: 0;
}

.screen .overlap-group-8 {
  width: 461px;
  height: 285px;
  border-radius: 30px;
}

.screen .rectangle-12 {
  width: 461px;
  height: 285px;
  background-color: #ffffff;
  border-radius: 30px;
  border: 4px solid;
  border-color: #004225;
  top: 0;
  left: 0;
  transform: rotate(-180deg);
}

.screen .text-wrapper-53 {
  width: 392px;
  height: 76px;
  top: 104px;
  left: 35px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: rgba(0, 79, 69, 0.6980392157);
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-54 {
  width: 703px;
  top: 72px;
  left: 494px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: normal;
}

.screen .text-wrapper-55 {
  width: 616px;
  top: 0;
  left: 494px;
  font-family: "Hiragino Kaku Gothic Pro-W6", Helvetica;
  color: #004225;
  font-size: 36px;
  letter-spacing: 3.6px;
  font-weight: 400;
  line-height: normal;
}

.screen .element-12 {
  width: 463px;
  height: 285px;
  top: 3914px;
  left: 221px;
}

.screen .element-13 {
  width: 463px;
  height: 285px;
  top: 3914px;
  left: 792px;
}

.screen .group-22 {
  width: 1201px;
  height: 285px;
  top: 6296px;
  left: 126px;
}

.screen .view-11 {
  width: 244px;
  height: 58px;
  top: 6703px;
  left: 599px;
}/*# sourceMappingURL=style.css.map */